/**********************
 *  Branding Styles
 **********************/

#bmap-map-branding
  background: #fff !important
  border: none !important

  .handlediv, .hndle
    display: none !important

  .inside
    margin: 0

  p
    margin: 0


  .logo
    margin: 15px auto 20px auto
    display: block


  a
    color: #e23d7e


  .bottom
    display: block
    height: 20px
    text-align: center

