/**********************
 *   Common Styles
 **********************/

#bmap-map-details input
  min-width: 0

.baidu-maps-metabox-wrapper
  .input-group
    margin-bottom: 20px

  .input-group label
    display: block
    font-weight: bold
    margin-bottom: 5px

  .input-group input
    display: block
    width: 100%

  .input-group .caption
    color: #666
    font-style: italic

.button-full-width{
  width: 100%
  outline: none
}

.caption{
  font-size: 11px
  font-style: italic
  color: #666
}