/**********************
 *   Location Block
 **********************/

.location-check-search
  display: inline-block
  float: left
  margin: 15px 30px 25px 0px

  label
    margin-right: 10px
    width: 125px
    display: inline-block

.location-check-currc
  text-align: right
  font-style: italic

.location-check-details
  display: inline-block
  float: left
  width: 180px

  td
    padding-top: 8px
